@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background:aquamarine;
    text-align: center;
    font-style: italic;
    font-size: 300%;
    -webkit-text-fill-color: pink;
    letter-spacing: normal;
    
}